:root {
  --dark-blue: #1b2f45;
  --light-blue: #56b8e6;
  --lighter-blue: #7fc9eb;
  --white: #dcdfdf;
  --whiter: #e0e4e6;
  --dark: #131313;
  --light-dark: #1f1f1f;
  --icon-size: 35pt;
  --icon-size-sm: 20pt;
  --phone-whiter: #ffffff;
  --phone-white: #d2d5d8;
}

.bg-dark-blue {
  background-color: var(--dark-blue);
  min-height: 60vh;
  flex-direction: column;
}

.btn-dark-blue {
  background-color: var(--dark-blue);
  color: var(--whiter);
  border-radius: 5rem;
}

.btn-dark-blue:hover {
  background-color: var(--light-blue);
}

.btn-light-blue {
  background-color: var(--light-blue);
  color: var(--whiter);
  border-radius: 5rem;
}

.btn-light-blue-square {
  background-color: var(--light-blue);
  color: var(--whiter);
  border-radius: 0.5rem;
}

.btn-light-blue:hover {
  background-color: var(--lighter-blue);
}

.btn-light-blue-square:hover {
  background-color: var(--lighter-blue);
}

.dropdown-mxs {
  max-width: 7vw;
}

main>section {
  min-height: 5vh;
}

.font-whiter {
  color: var(--whiter);

}

.bl-light-blue {
  border-left: 2px solid var(--light-blue);
}

.p-10 {
  padding: 5rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.p-8 {
  padding: 5rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.fs-0 {
  font-weight: 500;
  font-size: 50pt;
}

header {
  position: absolute;
}

.full-img {
  padding: 0;
  object-fit: cover;
}

.image {
  width: 100%;
  z-index: -1;
}

.minus-icon {
  font-size: 50pt;
  color: var(--light-blue);
}

.icon-height {
  max-height: 24px;
}

.icon-size {
  font-size: 50pt;
}

.header-text {
  color: var(--whiter);
  font-weight: bolder;
  text-shadow: 0.125rem 0.25rem 2pt var(--dark);
}

.header-text-dark {
  color: var(--dark);
  /* font-weight: bold; */
  text-shadow: 0.0625rem 0.125rem 2pt var(--light-dark);
}

.header-block {
  box-shadow: 0.125rem 0.25rem 2pt var(--dark);
}

.header-block-light {
  box-shadow: 0.125rem 0.25rem 2pt var(--light-dark);
}

.bg-light-color {
  background-color: var(--white);
}

.icon-orange {
  font-size: var(--icon-size);
  color: orange;
}

.icon-green {
  font-size: var(--icon-size);
  color: green;
}

.icon-magenta {
  font-size: var(--icon-size);
  color: magenta;
}

.icon-cyan {
  font-size: var(--icon-size);
  color: cyan;
}

.icon-yellow {
  font-size: var(--icon-size);
  color: yellow;
}

.icon-dark-blue {
  font-size: var(--icon-size);
  color: var(--dark-blue);
}

.img-bg-cta {
  background-image: url(https://thiscatdoesnotexist.com/);
  background-size: cover;
  background-position: center;
}

.dual-tone-bg {
  background: linear-gradient(180deg, var(--phone-whiter) 20%, var(--phone-white));
}

.p-7 {
  padding: 5rem;
}

.pe-10 {
  padding-right: 10rem;
}

.icon-orange-sm {
  font-size: var(--icon-size-sm);
  color: orange;
}

.icon-orange-red-sm {
  font-size: var(--icon-size-sm);
  color: orangered;
}

.icon-light-green-sm {
  font-size: var(--icon-size-sm);
  color: lightgreen;
}

.icon-magenta-sm {
  font-size: var(--icon-size-sm);
  color: magenta;
}

.icon-cyan-sm {
  font-size: var(--icon-size-sm);
  color: cyan;
}

.icon-yellow-sm {
  font-size: var(--icon-size-sm);
  color: yellow;
}

.icon-dark-blue-sm {
  font-size: var(--icon-size-sm);
  color: var(--dark-blue);
}

p.no-margin {
  margin: 0;
}

h3.no-margin {
  margin: 0;
}

.mb-10 {
  margin-bottom: 14rem;
}